.sidebar{
    min-height: 90vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 25px 15px;
    padding-right: 55px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0px 17px 40px 4px rgba(112, 144, 176, 0.11);

}
.sidebar img{
    width: 20px;
}
.sidebar .CritiAI{
    display: block;
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
   
   
}
.sidebar .CritiAI span{
    color: #4A25E1;
    font-size: 24px;
    font-weight: bold;
   
   
}

.sidebar .new-chat{
    margin-top: 50px;

    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background: linear-gradient(15deg, #4A25E1 26.3%, #7B5AFF 86.4%);
    border-radius: 50px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 21px 27px -10px rgba(96, 60, 255, 0.48);

}

.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;


}
.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right:40px ;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;

}
.sidebar .recent-entry:hover{
    background-color:  #e2e6eb;
   

}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}
.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}
@media (max-width: 600px) {
    .sidebar{
        display: none;
    }
}